.mainheader {
  height: 5%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mainheader h2 {
  margin: 0 0 0 2%;
  font-size: 15px;
}
