.nearbyprofiles {
  height: 30%;
  width: 16.666%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nearbyprofiles img {
  height: 85%;
  width: 85%;
  text-align: center;
  /*box-shadow: 0 0 .2em lightgrey;*/
}
