.nearbyprofiles {
  height: 30%;
  width: 16.666%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nearbyprofiles img {
  height: 100%;
  width: 100%;
  text-align: center;
}

#nearby-member-link {
  height: 85%;
  width: 85%;
}
