.searchprofiles {
  height: 30%;
  width: 16.666%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchprofiles img {
  height: 100%;
  width: 100%;
  text-align: center;
}

#search-member-link {
  height: 85%;
  width: 85%;
}
