.chatsmall {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chatsmall:hover {
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

.chatsmall img {
  width: 100%;
}

.chatsmall p {
  font-size: 12px;
}

#chat-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#chat-member-link {
  display: block;
  height: 70%;
  width: 20%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
}

