.globalprofiles {
  height: 47.5%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.globalprofiles img {
  width: 100%;
  height: 100%;
  text-align: center;
}

#img-member-link {
  height: 97.5%;
  width: 97.5%;
}

#img-member-link:hover {
  cursor: pointer;
}

#text-member-link {
  display: block;
  height: 90%;
  width: 90%;
  text-align: left;
  position: absolute;
  z-index: 1;
  margin: 2% 0 0 4%;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: .4px .4px .2em black;
}

.globalusername {
  color: white;
}

.online {
  height: 15px;
  width: 15px;
  position: absolute;
  z-index: 1;
  background-color: green;
  border-radius: 100%;
  margin: 45% 0 0 42%;
}
