.footer {
  height: 10vh;
  width: 100%;
  background-image: url('./../../../../assets/puppy.jpg');
  background-color: black;
  text-align: center;
}

.footer p {
  color: white;
  line-height: 10vh;
}
