.footer {
  height: 5vh;
  width: 100%;
  background-color: white;
  text-align: left;
  background-image: url('./../../../../assets/puppy.jpg');
}

.footer p {
  color: black;
  line-height: 5vh;
  font-size: 10px;
  margin: 0 0 0 2.5%;
}
